<nav class="header-keiris navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <div class="container" style="max-width: 1400px;">
    <!-- <div class="main-nav"> -->
    <a class="navbar-brand header-logo" routerLink="/">Ke<a class="logo-style">i</a>ris</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon">
      </span>
    </button>
    <div class="collapse navbar-collapse justify-content-end header-menu" id="collapsibleNavbar">
      <ul class="nav navbar-nav navbar-left sm">
        <li>
          <a routerLink="product">About</a>
        </li>
        <li>
          <a routerLink="product">Product</a>
        </li>
        <li>
          <a routerLink="product">Contact</a>
        </li>
      </ul>
    </div>
    <!-- </div> -->
    <!-- <div class="nav-menu" style="position: absolute; top:0;">
      <div style="background:red">
        this is a test line
      </div>
    </div> -->
  </div>
</nav>