.panel-keiris {
  .panel-keiris-content {
    position: relative;
    img {
      max-width: 100%;
      height: auto;
    }
    .hamburger-title {
      padding: 12px 24px !important;
      opacity: 0.6;
      position: absolute;
      left: 0;
      bottom: 0;
      h1 {
        font-size: 36px !important;
        font-family: "Playfair Display";
        letter-spacing: 5px;
        .logo-style {
          color: #81bc5f;
        }
      }
    }
  }
}
